* {
    margin: 0;
	padding: 0;		
}

html, body {
	height: 1024px;
	width: 768px;
}

body {
	background-color: #eee;
	font: 300 14px "Helvetica Neue",Helvetica,"Arial Unicode MS",Arial,sans-serif;
	color: #333;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	text-rendering: optimizeLegibility
	font-stretch: condensed;
}

#canvas {
	margin: 0;
	padding: 0;
	height: 512px;
	width: 768px;
}

#results {
	border-top:2px solid #5B5B5B;
	height: 512px;
	width: 768px;
}

#profiles {
	padding: 10px;
	height: 512px;
	width: 160px;
	float:left;
}

#test {
	border-left:1px solid #5B5B5B;
	border-right:1px solid #5B5B5B;
	padding: 10px;
	height: 512px;
	width: 384px;
	float:left;
}

#history {
	padding: 10px;
	height: 512px;
	width: 160px;
	float:right;
}

h1 {
	font-size: 12px;
}

p {
	font-size: 12px;
}

#base .reason {
	float: left;
	width: 330px;
	margin-bottom: 15px ;
}

#base .target {
	width: 30px;
	float: right;
	text-align: right;
	padding-right:10px;
	font-weight: 800;
}


.modifier .reason {
	float: left;
	width: 330px;
}

.modifier .target {
	width: 30px;
	float: right;
	text-align: right;
	padding-right:10px;
	font-weight: 800;
}

#result .reason {
	float: left;
	width: 330px;
}

#result .target {
	width: 30px;
	float: right;
	text-align: right;
	padding-right:10px;
	margin-top:10px;
	border-top-style:double;
	font-size: 14px;
	font-weight: 800;
}