* {
    margin: 0;
	padding: 0;		
}

html, body {
	height: 1024px;
	width: 768px;
}

body {
	background-color: #eee;
	font: 300 14px "Helvetica Neue",Helvetica,"Arial Unicode MS",Arial,sans-serif;
	color: #333;
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility
	font-stretch: condensed;
}

#canvas {
	height: 512px;
	width: 768px;
}

#results {
	border-top:2px solid #5B5B5B;
	height: 512px;
	width: 768px;
}

#profiles {
	padding: 10px;
	height: 512px;
	width: 160px;
	float:left;
}

#test {
	border-left:1px solid #5B5B5B;
	border-right:1px solid #5B5B5B;
	padding: 10px;
	height: 512px;
	width: 384px;
	float:left;
}

#history {
	padding: 10px;
	height: 512px;
	width: 160px;
	float:right;
}

h1 {
	font-size: 12px;
}

p {
	font-size: 12px;
}

.modifier .reason {
	float: left;
	width: 368px;
}

.modifier .target {
	float: right;
	font-weight: 800;
}