* {
    margin: 0;
	padding: 0;		
}

html, body {
	height: 1024px;
	width: 768px;
}

body {
	background-color: #3c3c3c;
	color: white;
	font-family: "Helvetica Neue", Helvetica;
}

#canvas {
	height: 512px;
	width: 768px;
}

#results {
	height: 512px;
	width: 768px;
}

#profiles {
	background-color: #111;
	height: 512px;
	width: 180px;
	float:left;
}

#test {
	background-color: #222;
	height: 512px;
	width: 408px;
	float:left;
}

#history {
	background-color: #333;
	height: 512px;
	width: 180px;
	float:right;
}